Microsoft.Flow/flows/0d262b21-08bd-491c-9ef0-5c018a801ce5/definition.json
{"name":"20e9c669-7c00-4099-a424-2d8d8fb5ac54","id":"/providers/Microsoft.Flow/flows/20e9c669-7c00-4099-a424-2d8d8fb5ac54","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SOLUCION PROBLEMAS DE CLIENTES","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"204ec8ad-5332-4e0a-bfe9-d5cd6492d230","type":"User","tenantId":"20f4acc9-f9f2-4ee9-b614-bc33742ece36"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-10-04T23:49:10.9708442Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_se_crea_un_elemento":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"c7fafe51-2c6c-4ce1-8018-23b218c49501"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://dmclatam.sharepoint.com/sites/bdsharepointppauz01","table":"0ad1cfee-f57d-47b5-8b53-5e0136c56dd2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Obtener_elemento":{"runAfter":{},"metadata":{"operationMetadataId":"31fb55fd-4a78-4837-af8f-5d24dc0c0526"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://dmclatam.sharepoint.com/sites/bdsharepointppauz01","table":"0ad1cfee-f57d-47b5-8b53-5e0136c56dd2","id":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Iniciar_y_esperar_una_aprobación":{"runAfter":{"Obtener_elemento":["Succeeded"]},"metadata":{"operationMetadataId":"33819979-7ba5-4b53-8744-a002397b9098"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"SOLUCION DE PROBLEMAS","WebhookApprovalCreationInput/assignedTo":"pp2auriarte@dmclatam.onmicrosoft.com;","WebhookApprovalCreationInput/details":"El usuario @{outputs('Obtener_elemento')?['body/usuario_solicitante']} requiere solucion a su inconveniente @{outputs('Obtener_elemento')?['body/Observaciones_cliente']}  ","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condición":{"actions":{"Aplicar_a_cada_uno":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación')?['body/responses']","actions":{"Actualizar_elemento":{"runAfter":{},"metadata":{"operationMetadataId":"1c6fcb2f-7306-4d96-8837-7d2fdd337e6d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://dmclatam.sharepoint.com/sites/bdsharepointppauz01","table":"0ad1cfee-f57d-47b5-8b53-5e0136c56dd2","id":"@outputs('Obtener_elemento')?['body/ID']","item/estado_solicitud/Value":"SOLUCIONADO","item/observacion_respuesta":"@items('Aplicar_a_cada_uno')?['comments']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"b4b9ed24-18df-46ed-965a-e1b28f0c97de"},"type":"Foreach"}},"runAfter":{"Iniciar_y_esperar_una_aprobación":["Succeeded"]},"else":{"actions":{"Aplicar_a_cada_uno_2":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación')?['body/responses']","actions":{"Actualizar_elemento_2":{"runAfter":{},"metadata":{"operationMetadataId":"80c344f4-8304-403b-a2f5-344bf87d4452"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://dmclatam.sharepoint.com/sites/bdsharepointppauz01","table":"0ad1cfee-f57d-47b5-8b53-5e0136c56dd2","id":"@outputs('Obtener_elemento')?['body/ID']","item/estado_solicitud/Value":"EN SOLUCIÓN","item/observacion_respuesta":"@items('Aplicar_a_cada_uno_2')?['comments']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"142bbf46-94da-404b-99be-22e43e011390"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Iniciar_y_esperar_una_aprobación')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"244f4299-f710-40e2-8fc6-ad615771a952"},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-165b96e0-e619-443d-b6d0-8cad76a69e37","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-5989d24f-4b82-48ef-86c2-9b81dc59b957","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}